@using Covid19Dashboard.Components
@page "/"
@page "/{city}"

<div class="content">
	@if (Succeeded && DatasetCurrent != null && DatasetCurrent.District != City)
	{
		<p class="district">Daten für: @DatasetCurrent.District</p>
	}
	else
	{
		<style>
			.mat-text-field {
				align-items: center !important;
			}
		</style>
	}
	<MatAutocompleteList @ref="CityList" Items="Cities" Label="Stadt" ShowClearButton="true" NumberOfElementsInPopup="12" @bind-Value=@City FullWidth="true" />
	@if (Succeeded && DatasetCurrent != null)
	{
		<div class="switch-container">
			<div>
				<MatSlideToggle @bind-Value="ShowAllData" Label=" max. Zeitraum"></MatSlideToggle>
			</div>
			<div>
				<MatButton @onclick="SwitchToState" Raised="ShowStateData">Bundesland</MatButton>
				<MatButton @onclick="SwitchToCounty" Raised="!ShowStateData">Kreis</MatButton>
			</div>
		</div>
		<RippleLineChartText Data="Data7"
							 ShowTrendIcon="true"
							 Title="Inzidenz (7 Tage / 100.000 Einwohner)"
							 TextStyle="@TextStyle7"
							 Thresholds=@(new LineChartThresholds[]{
								 new(35, RkiColorFromValue(35)),
								 new(50, RkiColorFromValue(50)),
								 new(100, "#C31315")
							 })>
		</RippleLineChartText>
		<RippleLineChartText Data="DataTotal"
		                     Title="Hospitalisierungsinzidenz (Bundesland)"
							 InfoTooltip="@HospInfoTooltipString"
							 TextStyle="@TextStyleHosp"
							 Thresholds=@(new LineChartThresholds[]{
                             								 new(3, RkiColorFromValue(35)),
                             								 new(6, RkiColorFromValue(50)),
                             								 new(9, RkiColorFromValue(500))
                             							 })>
		</RippleLineChartText>


		<RKIDetailDataTable Data="@DatasetCurrent" HospitalizationData="HospitalizationDatasetCurrent"></RKIDetailDataTable>
	}
	else
	{
		<h2>Die Stadt gibt es leider nicht :(</h2>
		<HelpText />
	}
</div>
<div class="footer">
	Stand: @(DatasetCurrent?.LastUpdate.ToString("dd.MM.yyyy HH:mm") ?? "-")<br />
	<a href="https://npgeo-corona-npgeo-de.hub.arcgis.com/" target="_blank">Robert Koch-Institut (RKI), dl-de/by-2-0</a><br />
	(c) 2020-@DateTime.UtcNow.Year <a href="mailto:webmaster@reble.eu" target="_blank">Max Reble</a> @ViewCounterService.GetTodaysUniqueViews() / @ViewCounterService.GetTodaysViews() / @ViewCounterService.GetTotalViews()
</div>
