@using ChartJs.Blazor
<div class="rlct-container">

    <p class="@TitleClass">@Title</p>

    @if (InfoTooltip is not null){
        <MatTooltip Tooltip="@InfoTooltip" Style="white-space: pre-wrap;font-size: 12px; font-weight: 400;">
            <MatIconButton
                RefBack="context"
                Icon="@MatIconNames.Info"
                Style="position:absolute; right: 0; z-index: 4; ">
            </MatIconButton>
        </MatTooltip>
    }

    <MatRipple Color="@MatRippleColor.Secondary" @onclick="ToggleGraphView">
        
        <div class="@TextClasses">
            @if (_showTrend)
            {
                <div style="width:100%"></div>
            }
            <p style="@TextStyle">@_dataToday.ToString(System.Globalization.CultureInfo.InvariantCulture)</p>
            @if (_showTrend)
            {
                var x = GetIconAndStyle(_dataToday, _dataYesterday);
                var tooltip = "Gestern: " + _dataYesterday;
                <MatTooltip Tooltip=@tooltip>
                    @if (ShowTrendIcon)
                    {
                        <MatIcon Class="foreground" RefBack="@context" Style="@x.style" Icon="@x.icon"/>
                    }
                    else if (ShowTrendNumber)
                    {
                        <p class="foreground"
                           @ref="@context.Current"
                           style="color: #ff9800">
                            @(_dataToday > _dataYesterday ? "+" : "") @(Math.Round(_dataToday - _dataYesterday, 1))
                        </p>
                    }

                </MatTooltip>
            }
        </div>
        
        <div class="rlct-chart">
                <Chart Config="@_chartConfig" Height="138"></Chart>
                </div>
    </MatRipple>
</div>