@using ChartJs.Blazor.Charts
<div class="rlct-container">

	<p class="@TitleClass">@Title</p>

	<MatRipple Color="@MatRippleColor.Secondary" @onclick="ToggleGraphView">
		<ChartJsLineChart Config="@_chartConfig" Height="180"></ChartJsLineChart>
		<div class="@TextClasses">
			@if (showTrend)
			{
				<div style="width:100%"></div>
			}
			<p style="@TextStyle">@dataToday.ToString(System.Globalization.CultureInfo.InvariantCulture)</p>
			@if (showTrend)
			{
				var x = GetIconAndStyle(dataToday, dataYesterday);
				var tooltip = "Gestern: " + dataYesterday;
				<MatTooltip Tooltip=@tooltip>
					@if (ShowTrendIcon)
					{
						<MatIcon Class="foreground" RefBack="@context" Style="@x.style" Icon="@x.icon" />
					}
					else if (ShowTrendNumber)
					{
						<p class="foreground" @ref="@context.Current" style="color: #ff9800">@(dataToday > dataYesterday ? "+" : "") @(dataToday - dataYesterday)</p>
					}

				</MatTooltip>
			}
		</div>
	</MatRipple>
</div>