<MatRipple Color="@MatRippleColor.Secondary">
	<table class="last-table">
		<tr>
			<th>Hospitaliserungen (letzte 7 Tage)</th>
			<th>Tote (Gesamt)</th>
		</tr>
		<tr>
			<td>@HospitalizationData.Hospitalization7TCases</td>
			<td>@Data.TotalDeath</td>
		</tr>

		<tr>
			<th>Betroffenenrate</th>
			<th>Sterberate</th>
		</tr>
		<tr>
			<td>@Math.Round(Data.CasesPerPopulation, 2)%</td>
			<td>@Math.Round(Data.DeathRate, 2)%</td>
		</tr>
	</table>
</MatRipple>

@code {
	[Parameter] public ICovid19Data Data { get; set; } = default!;
	[Parameter] public HospitalizationData HospitalizationData { get; set; } = default!;
}
